*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

body{
background:#f4f7fb;
color:#222;
}

/* NAVBAR */
nav{
display:flex;
justify-content:space-between;
align-items:center;
padding:15px 10%;
background:#0f2027;
color:white;
position:sticky;
top:0;
z-index:10;
}

nav ul{
display:flex;
gap:20px;
list-style:none;
}

nav a{
color:white;
text-decoration:none;
font-weight:500;
}

/* HERO */
.hero{
padding:120px 10%;
background:linear-gradient(120deg,#0f2027,#203a43,#2c5364);
color:white;
text-align:center;
}

.hero h1{
font-size:55px;
}

.open{
margin-top:10px;
font-size:15px;
opacity:0.9;
}

/* BUTTON */
.btn{
display:inline-block;
margin-top:25px;
padding:12px 25px;
background:#00cfe8;
color:white;
border-radius:6px;
text-decoration:none;
font-weight:500;
}

/* SECTIONS */
.section{
padding:70px 10%;
text-align:center;
}

.dark{
background:#eef3f8;
}

/* SKILLS */
.skills{
display:flex;
justify-content:center;
flex-wrap:wrap;
gap:15px;
margin-top:20px;
}

.skills span{
background:white;
padding:10px 22px;
border-radius:30px;
box-shadow:0 0 10px rgba(0,0,0,0.1);
font-size:14px;
}

/* CARD */
.card{
background:white;
max-width:520px;
margin:25px auto;
padding:25px;
border-radius:14px;
box-shadow:0 0 15px rgba(0,0,0,0.1);
transition:0.3s;
}

.card:hover{
transform:translateY(-8px);
}

.card a{
display:inline-block;
margin-top:10px;
color:#00a8c6;
font-weight:500;
text-decoration:none;
}

/* ABOUT */
.about-container{
display:flex;
align-items:center;
justify-content:center;
gap:40px;
flex-wrap:wrap;
margin-top:30px;
}

.about-text{
max-width:520px;
text-align:left;
}

.about-img img{
width:220px;
border-radius:12px;
box-shadow:0 0 15px rgba(0,0,0,0.15);
}

/* CONTACT */
#contact a{
color:#222;
text-decoration:none;
font-weight:500;
}

#contact i{
margin-right:8px;
color:#0f2027;
}

/* FOOTER */
footer{
text-align:center;
padding:20px;
background:#0f2027;
color:white;
}

/* MOBILE */
@media(max-width:768px){
.hero h1{
font-size:38px;
}
nav{
flex-direction:column;
}
nav ul{
margin-top:10px;
}
}

/* FLOATING WHATSAPP */
.floating-whatsapp{
position:fixed;
bottom:20px;
right:20px;
width:60px;
height:60px;
background:#25D366;
color:white;
font-size:28px;
display:flex;
align-items:center;
justify-content:center;
border-radius:50%;
text-decoration:none;
box-shadow:0 0 15px rgba(0,0,0,0.2);
z-index:1000;
}

.floating-whatsapp:hover{
transform:scale(1.1);
}